<a href="https://colab.research.google.com/github/snehaagrawal14/Python_Practice/blob/main/Tasks/session_6_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
def unique(l):
  return list(set(l))
print(unique([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
# Write code here
def sort(s):
  l = []
  for i in s.split('-'):
    l.append(i)
  l.sort()
  return "-".join(l)

print(sort("green-red-yellow-black-white"))

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here
def cases(s):
  up = 0
  low = 0
  for i in s:
    if i.isupper():
      up += 1
    elif i.islower():
      low += 1
  return (up, low)

s = input("Enter string: ")
up_case , low_case = cases(s)
print("No. of Upper case characters : {}".format(up_case))
print("No. of Lower case characters : {}".format(low_case))

Enter string: CampusX is an Online Mentorship Program fOr EnginEering studentS.
No. of Upper case characters : 9
No. of Lower case characters : 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here
def even_no(l):
  ans = []
  for i in l:
    if i%2==0:
      ans.append(i)
  return ans

l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(even_no(l))

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here
def is_perfect(n):
  sum = 0
  for i in range(1, n):
    if n%i == 0:
      sum += i
  if sum == n:
    return True
  else:
    return False

n = int(input("Enter n: "))
if is_perfect(n):
  print("{} is a perfect number.".format(n))
else:
  print("{} is not a perfect number.".format(n))

Enter n: 28
28 is a perfect number.

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [20]:
# Write code here
def merge_dict(*kwargs):
  d = {}
  for i in kwargs:
    d.update(i)
  return d

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
print(merge_dict(dic1, dic2, dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [9]:
# Write code here
def most_occured(s):
  word = ''
  counter = 0
  lst = s.split()
  for i in  lst:
    if counter < lst.count(i):
      counter = lst.count(i)
      word = i
  return word, counter

s = "hello how are you i am fine thank you"
word, counter = most_occured(s)
print(word+" -> "+str(counter))

you -> 2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [21]:
# Write code here
import math
def histogram(lst):
  min_bin = math.floor(min(lst)/10)*10
  max_bin = math.ceil(max(lst)/10)*10
  d = {}
  for i in range(min_bin, max_bin, 10):
    count = 0
    for j in lst:
      if i+1 <= j <= i+10:
        count += 1
    d[str(i+1) + '-' + str(i+10)] = count
  return d

lst = [13,42,15,37,22,39,41,50]
print(histogram(lst))

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [19]:
# Write code here
import sys
def shortest(lst, point):
  dis = sys.maxsize
  result = None
  for i in lst:
    d = ((i[0]-point[0])**2 + (i[1]-point[1])**2)**0.5
    if d < dis:
      dis = d
      result = i
  return result

lst = [(1,1),(2,2),(3,3),(4,4)]
point = (0,0)
result = shortest(lst, point)
print("Nearest to",point,"is",result)

Nearest to (0, 0) is (1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [33]:
# Write code here
def bow(l):
  vocab = set()
  for i in l:
    vocab.update(i.split())
  result = []
  for i in l:
    result.append([])
    for j in vocab:
      result[-1].append(i.count(j))
  return result

l = [
    'cat mat rat cat',
    'sat bat fat cat rat',
    'pat cat mat rat'
]

bow(l)

[[0, 1, 0, 0, 0, 2, 1], [0, 0, 1, 1, 1, 1, 1], [1, 1, 0, 0, 0, 1, 1]]

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [30]:
# Write code here
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

list(map(lambda x,y,z:x+y+z,l1,l2,l3))

[12, 15, 18]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [27]:
# Write code here
list1 = [1,2,3,4,5,6]
list(map(lambda x,y:x**y,list1,range(len(list1))))

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [25]:
# Write code here
str1 = "FIFA world cup in 2022 will take place in Qatar"

list(filter(lambda x:True if x.lower() in 'aeiou' else False,str1))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [23]:
# Write code here
ini_list = [[1,2,3],
            [3,6,7],
            [7,5,4]]

import functools
functools.reduce(lambda x,y:x+y,ini_list)

[1, 2, 3, 3, 6, 7, 7, 5, 4]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']